.login-form
{
    max-width: 320;
    margin: 0 auto;
    padding: 20px;

    p
    {
        margin: 0 0 20px 0;
    }

    input
    {
        box-sizing: border-box;
        width: 100%;
        margin: 0 0 20px 0;
        padding: 10px;
    }
}